@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-size: 5rem;
    margin-top: 50px;
    line-height: 2;
}

h2 {
    margin-top: 50px;
    color: #66BFBF;
    font-size: 3rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

hr {
    border-color: grey;
    border-style: dotted none none;
    border-width: 5px;
    width: 4%;
    height: 0px;
}

p {
    color: #40514E;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #159895;
    position: fixed;
}

.heading {
    background-color: #EAF6F6;
    font-family: 'Alkatra', cursive;
}


.underlined {
    text-decoration: underline;
}

.top-cloud {
    position: relative;
    top: 0px;
    left: 200px;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
}

.mountain {
    bottom: 0;
}

.middle-container {
    margin-top: 100px;
    font-family: 'Alkatra', cursive;
}

.profile {
    width: 50%;
    margin: 100px auto;
}

.model {
    width: 25%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.html5 {
    width: 25%;
    float: left;
    margin-right: 30px;
}


.css3 {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 30px;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.bottom-container {
    margin-top: 100px;
    background-color: #66BFBF;
    height: 150px;
}

.footer-link {
    color: #11999E;
    font-family: 'Alkatra', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: space-between;
    position: relative;
    top: 30px;
    margin: 10px 20px;
}

.footer-link:hover {
    color: white;
}

.footer-name {
    color: white;
    position: relative;
    top: 30px;
    bottom: 50px;
}
